version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '03:00'
      timezone: Australia/Sydney
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directories:
      - '/'
      - '/packages/*'
      - '/examples/*'
    schedule:
      interval: daily
      time: '03:00'
      timezone: Australia/Sydney
    open-pull-requests-limit: 10
