version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '03:00'
      timezone: Australia/Sydney
    open-pull-requests-limit: 5

  - package-ecosystem: npm
    directories:
      - '/'
    schedule:
      interval: daily
      time: '03:00'
      timezone: Australia/Sydney
    open-pull-requests-limit: 10
    groups:
      typescript-eslint:
        patterns:
          - '@typescript-eslint/*'
          - 'typescript-eslint'
