{
  "openapi": "3.1.0",
  "info": {
    "title": "AIA Calculator API",
    "version": "4.0.1",
    "description": "Emissions Calculators for various farming activities",
    "contact": {
      "name": "AIA",
      "url": "https://aginnovationaustralia.com.au/contact-us/",
      "email": "contact@aginnovationaustralia.com.au"
    },
    "license": {
      "name": "CC-BY-4.0",
      "identifier": "CC-BY-4.0"
    }
  },
  "servers": [
    {
      "url": "https://emissionscalculator-mtls.production.aiaapi.com/calculator/4.0.1",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "GAF",
      "description": "GAF spreadsheet-based calculator"
    }
  ],
  "paths": {
    "/grains": {
      "post": {
        "summary": "Perform grains calculation",
        "description": "Retrieve a simple JSON response",
        "operationId": "post-grains",
        "deprecated": false,
        "tags": ["GAF"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Unique identifier for this Grains activity",
                    "type": "string"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "nsw",
                      "vic",
                      "qld",
                      "sa",
                      "wa_nw",
                      "wa_sw",
                      "tas",
                      "nt",
                      "act"
                    ],
                    "description": "What state the location is in. Note: Western Australia is split up into two regions, `wa_nw` is North-West Western Australia, `wa_sw` is South-West Western Australia"
                  },
                  "crops": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Unique identifier for this Grains activity",
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "nsw",
                            "vic",
                            "qld",
                            "sa",
                            "wa_nw",
                            "wa_sw",
                            "tas",
                            "nt",
                            "act"
                          ],
                          "description": "What state the location is in. Note: Western Australia is split up into two regions, `wa_nw` is North-West Western Australia, `wa_sw` is South-West Western Australia"
                        },
                        "areaSown": {
                          "description": "Area sown, in ha (hectares)",
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "isInLeachingZone": {
                          "type": "boolean",
                          "description": "Whether the property is within a leaching zone"
                        },
                        "electricityAllocation": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Percentage of electricity use to allocate to this crop, from 0 to 1"
                        },
                        "chemicals": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "Herbicide (paraquat, diquat, glyphosate)",
                                  "Other herbicide",
                                  "Insecticide",
                                  "Fungicide",
                                  "Plant growth regulator",
                                  "2,4-D",
                                  "Atrazine",
                                  "Diuron",
                                  "Mancozeb",
                                  "MCPA",
                                  "Metolachlor",
                                  "Metsulfuron-methyl",
                                  "Pesticides (generic)",
                                  "Tri-allate",
                                  "Tribenuron methyl",
                                  "Trifluralin"
                                ]
                              },
                              "amountKg": {
                                "type": "number",
                                "minimum": 0
                              },
                              "customEmissionsFactor": {
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": ["type", "amountKg"],
                            "additionalProperties": false
                          }
                        },
                        "limestone": {
                          "description": "Lime applied in kg",
                          "type": "number",
                          "minimum": 0
                        },
                        "limestoneFraction": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Fraction of lime as limestone vs dolomite, between 0 and 1"
                        },
                        "dolomiteFraction": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Fraction of lime as dolomite, between 0 and 1"
                        },
                        "customScope3EmissionsFactor": {
                          "type": "number",
                          "minimum": 0
                        },
                        "rainfallAbove600": {
                          "description": "Is there enough rainfall or irrigation to drain through the soil profile, typically above 600mm",
                          "type": "boolean"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "Annual grass",
                            "Grass clover mixture",
                            "Lucerne",
                            "Other legume",
                            "Perennial pasture",
                            "Wheat",
                            "Barley",
                            "Maize",
                            "Oats",
                            "Rice",
                            "Sorghum",
                            "Triticale",
                            "Other Cereals",
                            "Pulses",
                            "Tubers and Roots",
                            "Peanuts",
                            "Sugar Cane",
                            "Cotton",
                            "Hops",
                            "Oilseeds",
                            "Forage Crops",
                            "Other Annual Crops",
                            "Other Perennial Crops"
                          ],
                          "description": "Crop type. Note that the following crop types are now deprecated, the relevant full calculator should be used instead: 'Cotton', 'Rice', 'Sugar Cane'"
                        },
                        "averageYield": {
                          "description": "Average crop yield, in t/ha (tonnes per hectare)",
                          "type": "number",
                          "minimum": 0
                        },
                        "fractionOfAnnualCropBurnt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Fraction of annual production of crop that is burnt, from 0 to 1"
                        },
                        "cropResidues": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "calculationMethod": {
                                  "type": "string",
                                  "const": "1"
                                }
                              },
                              "required": ["calculationMethod"],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "calculationMethod": {
                                  "type": "string",
                                  "const": "2"
                                },
                                "fractionCropResidueRemoved": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 1,
                                  "description": "Fraction of crop residue that is removed, from 0 to 1"
                                }
                              },
                              "required": [
                                "calculationMethod",
                                "fractionCropResidueRemoved"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        "pastureResidues": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "calculationMethod": {
                                  "type": "string",
                                  "const": "1"
                                }
                              },
                              "required": ["calculationMethod"],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "calculationMethod": {
                                  "type": "string",
                                  "const": "2"
                                },
                                "averageYieldPerHectare": {
                                  "description": "Custom average pasture yield, in t/ha (tonnes per hectare)",
                                  "type": "number",
                                  "minimum": 0
                                }
                              },
                              "required": [
                                "calculationMethod",
                                "averageYieldPerHectare"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        "transportFuel": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Cars and light commercial vehicles"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Gasoline",
                                          "Diesel oil",
                                          "Liquefied petroleum gas (LPG)",
                                          "Fuel oil",
                                          "Ethanol",
                                          "Biodiesel",
                                          "Renewable diesel",
                                          "Other biofuels"
                                        ]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Cars and light commercial vehicles (pre 2004)"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Gasoline",
                                          "Diesel oil",
                                          "Liquefied petroleum gas (LPG)",
                                          "Ethanol",
                                          "Renewable diesel"
                                        ]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Light duty vehicles"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Compressed natural gas",
                                          "Liquefied natural gas"
                                        ]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Heavy duty vehicles"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Compressed natural gas",
                                          "Liquefied natural gas",
                                          "Diesel oil - Euro iv or higher",
                                          "Diesel oil - Euro iii",
                                          "Diesel oil - Euro i",
                                          "Renewable diesel - Euro iv or higher",
                                          "Renewable diesel - Euro iii",
                                          "Renewable diesel - Euro i"
                                        ]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Aviation"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Gasoline for use as fuel in an aircraft",
                                          "Kerosene for use as fuel in an aircraft",
                                          "Renewable aviation kerosene"
                                        ]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Vessel"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": ["Petrol", "Diesel", "Fuel Oil"]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vehicleType": {
                                        "type": "string",
                                        "const": "Off-road Agriculture and forestry equipment"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": ["Diesel"]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "vehicleType",
                                      "fuelType",
                                      "amountLitres"
                                    ]
                                  }
                                ],
                                "type": "object"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vehicleType": {
                                    "type": "string",
                                    "enum": [
                                      "Light duty vehicles",
                                      "Heavy duty vehicles"
                                    ]
                                  },
                                  "fuelType": {
                                    "type": "string",
                                    "const": "Compressed natural gas"
                                  },
                                  "amountCubicMetres": {
                                    "type": "number",
                                    "minimum": 0,
                                    "description": "Amount of fuel consumed (litres)"
                                  }
                                },
                                "required": [
                                  "vehicleType",
                                  "fuelType",
                                  "amountCubicMetres"
                                ]
                              }
                            ]
                          },
                          "description": "A list of fuels used in transportation and vehicles"
                        },
                        "stationaryFuel": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "fuelClass": {
                                    "type": "string",
                                    "const": "Solid fuels"
                                  },
                                  "fuelType": {
                                    "type": "string",
                                    "enum": [
                                      "Bituminous coal",
                                      "Sub-bituminous coal",
                                      "Anthracite",
                                      "Brown coal (lignite)",
                                      "Coking coal",
                                      "Coal briquettes",
                                      "Coal coke",
                                      "Coal tar",
                                      "Other solid fossil fuels",
                                      "Industrial materials derived from fossil fuels",
                                      "Passenger car tyres",
                                      "Truck and off-road tyres",
                                      "Non-biomass municipal materials",
                                      "Dry wood",
                                      "Green and air dried wood",
                                      "Sulphite lyes",
                                      "Bagasse",
                                      "Biomass,  municipal and industrial materials",
                                      "Charcoal",
                                      "Other primary solid biomass fuels"
                                    ]
                                  },
                                  "amountTonnes": {
                                    "type": "number",
                                    "minimum": 0,
                                    "description": "Amount of fuel consumed (litres)"
                                  }
                                },
                                "required": [
                                  "fuelClass",
                                  "fuelType",
                                  "amountTonnes"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "fuelClass": {
                                        "type": "string",
                                        "const": "Liquid fuels"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Petroleum based oils other than fuels",
                                          "Petroleum based greases",
                                          "Automotive gasoline/petrol",
                                          "Aviation gasoline",
                                          "Kerosene",
                                          "Aviation turbine fuel/kerosene",
                                          "Heating oil",
                                          "Diesel oil",
                                          "Fuel oil",
                                          "Liquefied aromatic hydrocarbons",
                                          "Solvents: mineral turpentine or white spirits",
                                          "Liquefied petroleum gas",
                                          "Naphtha",
                                          "Other petroleum products"
                                        ]
                                      },
                                      "amountLitres": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "fuelClass",
                                      "fuelType",
                                      "amountLitres"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "fuelClass": {
                                        "type": "string",
                                        "const": "Liquid fuels"
                                      },
                                      "fuelType": {
                                        "type": "string",
                                        "enum": [
                                          "Crude oil and condensates",
                                          "Other natural gas liquids",
                                          "Petroleum coke",
                                          "Refinery gas and liquids",
                                          "Refinery coke"
                                        ]
                                      },
                                      "amountTonnes": {
                                        "type": "number",
                                        "minimum": 0,
                                        "description": "Amount of fuel consumed (litres)"
                                      }
                                    },
                                    "required": [
                                      "fuelClass",
                                      "fuelType",
                                      "amountTonnes"
                                    ],
                                    "additionalProperties": false
                                  }
                                ],
                                "type": "object"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "fuelClass": {
                                    "type": "string",
                                    "const": "Gaseous fuels"
                                  },
                                  "fuelType": {
                                    "type": "string",
                                    "const": "Natural gas"
                                  },
                                  "amountLitres": {
                                    "type": "number",
                                    "minimum": 0
                                  }
                                },
                                "required": [
                                  "fuelClass",
                                  "fuelType",
                                  "amountLitres"
                                ],
                                "additionalProperties": false
                              }
                            ],
                            "type": "object"
                          },
                          "description": "A list of fuels used in stationary applications"
                        },
                        "inorganicFertilisers": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "productionSystem": {
                                  "type": "string",
                                  "enum": [
                                    "Irrigated pasture",
                                    "Irrigated crop (low rainfall)",
                                    "Irrigated crop (high rainfall)",
                                    "Irrigated crop",
                                    "Non-irrigated pasture",
                                    "Non-irrigated crops",
                                    "Sugar",
                                    "Cotton",
                                    "Horticultural crops",
                                    "Aquaculture",
                                    "Rice (continuous flooding)",
                                    "Rice (single and multiple drainage, or alternate wetting and drying)",
                                    "Forestry"
                                  ],
                                  "description": "Production system of the crop"
                                },
                                "applications": {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "massAppliedKg": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Mass of inorganic fertiliser applied, in kg"
                                          },
                                          "fertiliserType": {
                                            "type": "string",
                                            "enum": [
                                              "Monoammonium Phosphate (MAP)",
                                              "Diammonium Phosphate (DAP)",
                                              "Urea",
                                              "Sulphate of Ammonia (SOA)",
                                              "Urea-Ammonium Nitrate (UAN)",
                                              "Ammonium Nitrate (AN)",
                                              "Calcium Ammonium Nitrate (CAN)"
                                            ],
                                            "description": "Type of inorganic fertiliser applied"
                                          },
                                          "components": {
                                            "description": "Components of the inorganic fertiliser applied.\n    NOTE: 5.1.2.1 FNinorganic,f data source allows you to supply a custom nitrogen fraction for the fertiliser. This is currently\n   implemented via the components field. This means you must supply all components if you want this scenario. If you only supply\n   a custom nitrogen fraction, scope 3 emissions will be under calculated. Do not supply a partial list of components.",
                                            "type": "array",
                                            "items": {
                                              "oneOf": [
                                                {
                                                  "oneOf": [
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "fractionOfFertiliser": {
                                                          "type": "number",
                                                          "minimum": 0,
                                                          "maximum": 100,
                                                          "description": "Fraction of inorganic fertiliser that is applied"
                                                        },
                                                        "componentType": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Ammonia",
                                                            "Urea"
                                                          ],
                                                          "description": "Type of inorganic fertiliser component"
                                                        },
                                                        "componentOrigin": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Unspecified",
                                                            "China",
                                                            "Yemen",
                                                            "Canada"
                                                          ],
                                                          "description": "Origin of inorganic fertiliser component"
                                                        }
                                                      },
                                                      "required": [
                                                        "fractionOfFertiliser",
                                                        "componentType",
                                                        "componentOrigin"
                                                      ],
                                                      "additionalProperties": false
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "fractionOfFertiliser": {
                                                          "type": "number",
                                                          "minimum": 0,
                                                          "maximum": 100,
                                                          "description": "Fraction of inorganic fertiliser that is applied"
                                                        },
                                                        "componentType": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Monoammonium phosphate",
                                                            "Diammonium Phosphate",
                                                            "Urea-Ammonium Nitrate",
                                                            "Ammonium Nitrate",
                                                            "Calcium Ammonium Nitrate",
                                                            "Sulphate of Ammonia",
                                                            "Nitrogen - Generic",
                                                            "Nitrogen - Nitrate",
                                                            "Nitrogen - Ammonia",
                                                            "Muriate of Potash",
                                                            "Single superphosphate",
                                                            "Double Superphosphate",
                                                            "Phosphorus - Generic",
                                                            "Potassium - Generic",
                                                            "Sulfur - Generic",
                                                            "Zinc - Generic"
                                                          ],
                                                          "description": "Type of inorganic fertiliser component"
                                                        }
                                                      },
                                                      "required": [
                                                        "fractionOfFertiliser",
                                                        "componentType"
                                                      ],
                                                      "additionalProperties": false
                                                    }
                                                  ]
                                                },
                                                {
                                                  "type": "object",
                                                  "properties": {
                                                    "fractionOfFertiliser": {
                                                      "type": "number",
                                                      "minimum": 0,
                                                      "maximum": 100,
                                                      "description": "Fraction of inorganic fertiliser that is applied"
                                                    },
                                                    "emissionFactor": {
                                                      "type": "number",
                                                      "minimum": 0,
                                                      "description": "Emission factor for inorganic fertiliser component, in kg CO2e/kg"
                                                    }
                                                  },
                                                  "required": [
                                                    "fractionOfFertiliser",
                                                    "emissionFactor"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              ]
                                            }
                                          },
                                          "calculationMethodScope3": {
                                            "type": "string",
                                            "const": "1",
                                            "description": "Choosing method 1 for calculating scope 3 emissions for this fertiliser"
                                          }
                                        },
                                        "required": [
                                          "massAppliedKg",
                                          "fertiliserType",
                                          "calculationMethodScope3"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "massAppliedKg": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Mass of inorganic fertiliser applied, in kg"
                                          },
                                          "fertiliserType": {
                                            "type": "string",
                                            "enum": [
                                              "Monoammonium Phosphate (MAP)",
                                              "Diammonium Phosphate (DAP)",
                                              "Urea",
                                              "Sulphate of Ammonia (SOA)",
                                              "Urea-Ammonium Nitrate (UAN)",
                                              "Ammonium Nitrate (AN)",
                                              "Calcium Ammonium Nitrate (CAN)"
                                            ],
                                            "description": "Type of inorganic fertiliser applied"
                                          },
                                          "customNitrogenFraction": {
                                            "type": "number",
                                            "minimum": 0,
                                            "maximum": 1,
                                            "description": "Custom nitrogen fraction for the fertiliser"
                                          },
                                          "customScope3EmissionFactor": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Custom scope 3 emission factor for this fertiliser, in kg CO2e/kg"
                                          },
                                          "calculationMethodScope3": {
                                            "type": "string",
                                            "const": "2",
                                            "description": "Choosing method 2 for calculating scope 3 emissions for this fertiliser"
                                          }
                                        },
                                        "required": [
                                          "massAppliedKg",
                                          "fertiliserType",
                                          "customScope3EmissionFactor",
                                          "calculationMethodScope3"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ],
                                    "type": "object"
                                  },
                                  "description": "Inorganic fertiliser applications"
                                },
                                "calculationMethodScope1": {
                                  "type": "string",
                                  "const": "1",
                                  "description": "Method of calculating fertiliser emissions"
                                }
                              },
                              "required": [
                                "productionSystem",
                                "applications",
                                "calculationMethodScope1"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "productionSystem": {
                                  "type": "string",
                                  "enum": [
                                    "Irrigated crop (maize)",
                                    "Non-irrigated crop (high rainfall zone)",
                                    "Cotton"
                                  ],
                                  "description": "Production system of the crop"
                                },
                                "applications": {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "massAppliedKg": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Mass of inorganic fertiliser applied, in kg"
                                          },
                                          "fertiliserType": {
                                            "type": "string",
                                            "enum": [
                                              "Monoammonium Phosphate (MAP)",
                                              "Diammonium Phosphate (DAP)",
                                              "Urea",
                                              "Sulphate of Ammonia (SOA)",
                                              "Urea-Ammonium Nitrate (UAN)",
                                              "Ammonium Nitrate (AN)",
                                              "Calcium Ammonium Nitrate (CAN)"
                                            ],
                                            "description": "Type of inorganic fertiliser applied"
                                          },
                                          "components": {
                                            "description": "Components of the inorganic fertiliser applied.\n    NOTE: 5.1.2.1 FNinorganic,f data source allows you to supply a custom nitrogen fraction for the fertiliser. This is currently\n   implemented via the components field. This means you must supply all components if you want this scenario. If you only supply\n   a custom nitrogen fraction, scope 3 emissions will be under calculated. Do not supply a partial list of components.",
                                            "type": "array",
                                            "items": {
                                              "oneOf": [
                                                {
                                                  "oneOf": [
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "fractionOfFertiliser": {
                                                          "type": "number",
                                                          "minimum": 0,
                                                          "maximum": 100,
                                                          "description": "Fraction of inorganic fertiliser that is applied"
                                                        },
                                                        "componentType": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Ammonia",
                                                            "Urea"
                                                          ],
                                                          "description": "Type of inorganic fertiliser component"
                                                        },
                                                        "componentOrigin": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Unspecified",
                                                            "China",
                                                            "Yemen",
                                                            "Canada"
                                                          ],
                                                          "description": "Origin of inorganic fertiliser component"
                                                        }
                                                      },
                                                      "required": [
                                                        "fractionOfFertiliser",
                                                        "componentType",
                                                        "componentOrigin"
                                                      ],
                                                      "additionalProperties": false
                                                    },
                                                    {
                                                      "type": "object",
                                                      "properties": {
                                                        "fractionOfFertiliser": {
                                                          "type": "number",
                                                          "minimum": 0,
                                                          "maximum": 100,
                                                          "description": "Fraction of inorganic fertiliser that is applied"
                                                        },
                                                        "componentType": {
                                                          "type": "string",
                                                          "enum": [
                                                            "Monoammonium phosphate",
                                                            "Diammonium Phosphate",
                                                            "Urea-Ammonium Nitrate",
                                                            "Ammonium Nitrate",
                                                            "Calcium Ammonium Nitrate",
                                                            "Sulphate of Ammonia",
                                                            "Nitrogen - Generic",
                                                            "Nitrogen - Nitrate",
                                                            "Nitrogen - Ammonia",
                                                            "Muriate of Potash",
                                                            "Single superphosphate",
                                                            "Double Superphosphate",
                                                            "Phosphorus - Generic",
                                                            "Potassium - Generic",
                                                            "Sulfur - Generic",
                                                            "Zinc - Generic"
                                                          ],
                                                          "description": "Type of inorganic fertiliser component"
                                                        }
                                                      },
                                                      "required": [
                                                        "fractionOfFertiliser",
                                                        "componentType"
                                                      ],
                                                      "additionalProperties": false
                                                    }
                                                  ]
                                                },
                                                {
                                                  "type": "object",
                                                  "properties": {
                                                    "fractionOfFertiliser": {
                                                      "type": "number",
                                                      "minimum": 0,
                                                      "maximum": 100,
                                                      "description": "Fraction of inorganic fertiliser that is applied"
                                                    },
                                                    "emissionFactor": {
                                                      "type": "number",
                                                      "minimum": 0,
                                                      "description": "Emission factor for inorganic fertiliser component, in kg CO2e/kg"
                                                    }
                                                  },
                                                  "required": [
                                                    "fractionOfFertiliser",
                                                    "emissionFactor"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              ]
                                            }
                                          },
                                          "calculationMethodScope3": {
                                            "type": "string",
                                            "const": "1",
                                            "description": "Choosing method 1 for calculating scope 3 emissions for this fertiliser"
                                          }
                                        },
                                        "required": [
                                          "massAppliedKg",
                                          "fertiliserType",
                                          "calculationMethodScope3"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "massAppliedKg": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Mass of inorganic fertiliser applied, in kg"
                                          },
                                          "fertiliserType": {
                                            "type": "string",
                                            "enum": [
                                              "Monoammonium Phosphate (MAP)",
                                              "Diammonium Phosphate (DAP)",
                                              "Urea",
                                              "Sulphate of Ammonia (SOA)",
                                              "Urea-Ammonium Nitrate (UAN)",
                                              "Ammonium Nitrate (AN)",
                                              "Calcium Ammonium Nitrate (CAN)"
                                            ],
                                            "description": "Type of inorganic fertiliser applied"
                                          },
                                          "customNitrogenFraction": {
                                            "type": "number",
                                            "minimum": 0,
                                            "maximum": 1,
                                            "description": "Custom nitrogen fraction for the fertiliser"
                                          },
                                          "customScope3EmissionFactor": {
                                            "type": "number",
                                            "minimum": 0,
                                            "description": "Custom scope 3 emission factor for this fertiliser, in kg CO2e/kg"
                                          },
                                          "calculationMethodScope3": {
                                            "type": "string",
                                            "const": "2",
                                            "description": "Choosing method 2 for calculating scope 3 emissions for this fertiliser"
                                          }
                                        },
                                        "required": [
                                          "massAppliedKg",
                                          "fertiliserType",
                                          "customScope3EmissionFactor",
                                          "calculationMethodScope3"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ],
                                    "type": "object"
                                  },
                                  "description": "Inorganic fertiliser applications"
                                },
                                "calculationMethodScope1": {
                                  "type": "string",
                                  "const": "2",
                                  "description": "Method of calculating fertiliser emissions"
                                }
                              },
                              "required": [
                                "productionSystem",
                                "applications",
                                "calculationMethodScope1"
                              ],
                              "additionalProperties": false
                            }
                          ],
                          "type": "object"
                        },
                        "organicFertilisers": {
                          "type": "object",
                          "properties": {
                            "applications": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "massAppliedKg": {
                                    "type": "number",
                                    "minimum": 0,
                                    "description": "Mass of organic fertiliser applied, in kg"
                                  },
                                  "origin": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "origin": {
                                            "type": "string",
                                            "const": "Local"
                                          },
                                          "details": {
                                            "oneOf": [
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "const": "swine"
                                                  },
                                                  "mms": {
                                                    "type": "object",
                                                    "properties": {
                                                      "liquids": {
                                                        "type": "object",
                                                        "properties": {
                                                          "liquidsSystem1": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Outdoor (Dry lot)",
                                                              "Deep litter",
                                                              "Stockpile (Solid storage)",
                                                              "Effluent pond (Uncovered anaerobic lagoon)",
                                                              "Anaerobic digestor / Covered lagoon",
                                                              "Short HRT tank storage < 1 month (pit storage)",
                                                              "Direct application"
                                                            ]
                                                          },
                                                          "fractionOfManureToLiquidsMMS": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1,
                                                            "description": "Fraction of manure to liquids MMS"
                                                          },
                                                          "fractionOfManureFromLiquidsStage1to2": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1,
                                                            "description": "Fraction of manure from liquids stage 1 to stage 2 MMS"
                                                          },
                                                          "liquidsSystem2": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Outdoor (Dry lot)",
                                                              "Deep litter",
                                                              "Stockpile (Solid storage)",
                                                              "Effluent pond (Uncovered anaerobic lagoon)",
                                                              "Anaerobic digestor / Covered lagoon",
                                                              "Short HRT tank storage < 1 month (pit storage)",
                                                              "Direct application"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "liquidsSystem1",
                                                          "fractionOfManureToLiquidsMMS",
                                                          "fractionOfManureFromLiquidsStage1to2",
                                                          "liquidsSystem2"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      "solids": {
                                                        "type": "object",
                                                        "properties": {
                                                          "fractionOfNitrogenSeparatedToSolidStorage": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1,
                                                            "description": "Fraction of nitrogen separated to solid storage"
                                                          },
                                                          "solidsSystem1": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Outdoor (Dry lot)",
                                                              "Deep litter",
                                                              "Stockpile (Solid storage)",
                                                              "Effluent pond (Uncovered anaerobic lagoon)",
                                                              "Anaerobic digestor / Covered lagoon",
                                                              "Short HRT tank storage < 1 month (pit storage)",
                                                              "Direct application"
                                                            ]
                                                          },
                                                          "fractionOfManureToSolidsMMS": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1,
                                                            "description": "Fraction of manure to solids MMS"
                                                          },
                                                          "fractionOfManureFromSolidsStage1to2": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1,
                                                            "description": "Fraction of manure from solids stage 1 to stage 2 MMS"
                                                          },
                                                          "solidsSystem2": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Outdoor (Dry lot)",
                                                              "Deep litter",
                                                              "Stockpile (Solid storage)",
                                                              "Effluent pond (Uncovered anaerobic lagoon)",
                                                              "Anaerobic digestor / Covered lagoon",
                                                              "Short HRT tank storage < 1 month (pit storage)",
                                                              "Direct application"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "fractionOfNitrogenSeparatedToSolidStorage",
                                                          "solidsSystem1",
                                                          "fractionOfManureToSolidsMMS",
                                                          "fractionOfManureFromSolidsStage1to2",
                                                          "solidsSystem2"
                                                        ],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["liquids"],
                                                    "additionalProperties": false
                                                  },
                                                  "totalNitrogenExcreted": {
                                                    "type": "number",
                                                    "exclusiveMinimum": 0
                                                  },
                                                  "fractionAppliedToSoils": {
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "maximum": 1,
                                                    "description": "Fraction of manure applied to soil within the activity boundary"
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "mms",
                                                  "totalNitrogenExcreted",
                                                  "fractionAppliedToSoils"
                                                ],
                                                "additionalProperties": false
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "const": "dairy"
                                                  },
                                                  "fractionAppliedToSoils": {
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "maximum": 1,
                                                    "description": "Fraction of manure applied to soil within the activity boundary"
                                                  },
                                                  "system": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Grazed only",
                                                      "Limited feedpad",
                                                      "Limited grazing",
                                                      "Zero grazing"
                                                    ]
                                                  },
                                                  "method2TimeSpentOnPasture": {
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "maximum": 1
                                                  },
                                                  "method2TimeSpentOnFeedpad": {
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "maximum": 1
                                                  },
                                                  "method2TimeSpentOnMilkingShed": {
                                                    "type": "number",
                                                    "minimum": 0,
                                                    "maximum": 1
                                                  },
                                                  "classes": {
                                                    "type": "object",
                                                    "properties": {
                                                      "milkingCows": {
                                                        "type": "object",
                                                        "properties": {
                                                          "head": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2Liveweight": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2LiveweightGain": {
                                                            "type": "number"
                                                          },
                                                          "method2CrudeProteinContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          },
                                                          "method2DryMatterDigestibility": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          }
                                                        },
                                                        "required": ["head"],
                                                        "additionalProperties": false
                                                      },
                                                      "heifersGt1": {
                                                        "type": "object",
                                                        "properties": {
                                                          "head": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2Liveweight": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2LiveweightGain": {
                                                            "type": "number"
                                                          },
                                                          "method2CrudeProteinContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          },
                                                          "method2DryMatterDigestibility": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          }
                                                        },
                                                        "required": ["head"],
                                                        "additionalProperties": false
                                                      },
                                                      "heifersLt1": {
                                                        "type": "object",
                                                        "properties": {
                                                          "head": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2Liveweight": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2LiveweightGain": {
                                                            "type": "number"
                                                          },
                                                          "method2CrudeProteinContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          },
                                                          "method2DryMatterDigestibility": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          }
                                                        },
                                                        "required": ["head"],
                                                        "additionalProperties": false
                                                      },
                                                      "bullsGt1": {
                                                        "type": "object",
                                                        "properties": {
                                                          "head": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2Liveweight": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2LiveweightGain": {
                                                            "type": "number"
                                                          },
                                                          "method2CrudeProteinContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          },
                                                          "method2DryMatterDigestibility": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          }
                                                        },
                                                        "required": ["head"],
                                                        "additionalProperties": false
                                                      },
                                                      "bullsLt1": {
                                                        "type": "object",
                                                        "properties": {
                                                          "head": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2Liveweight": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "method2LiveweightGain": {
                                                            "type": "number"
                                                          },
                                                          "method2CrudeProteinContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          },
                                                          "method2DryMatterDigestibility": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 1
                                                          }
                                                        },
                                                        "required": ["head"],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": ["milkingCows"],
                                                    "additionalProperties": false
                                                  },
                                                  "milkProduction": {
                                                    "anyOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "litresPerHeadPerDay": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          }
                                                        },
                                                        "required": [
                                                          "litresPerHeadPerDay"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "kgSolidsPerHeadPerDay": {
                                                            "type": "number",
                                                            "exclusiveMinimum": 0
                                                          },
                                                          "fatContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 100,
                                                            "description": "Fat content percentage in fat and protein corrected milk"
                                                          },
                                                          "proteinContent": {
                                                            "type": "number",
                                                            "minimum": 0,
                                                            "maximum": 100,
                                                            "description": "Protein content percentage in fat and protein corrected milk"
                                                          }
                                                        },
                                                        "required": [
                                                          "kgSolidsPerHeadPerDay",
                                                          "fatContent",
                                                          "proteinContent"
                                                        ],
                                                        "additionalProperties": false
                                                      }
                                                    ]
                                                  },
                                                  "breed": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Medium Friesian",
                                                      "Large Friesian",
                                                      "Holstein-Friesian",
                                                      "Friesian crossbred",
                                                      "Jersey",
                                                      "Jersey crossbred",
                                                      "Ayrshire",
                                                      "Guernsey",
                                                      "Brown Swiss",
                                                      "Illawarra/Aussie Red"
                                                    ]
                                                  },
                                                  "milkingShedMMSAllocation": {
                                                    "type": "object",
                                                    "properties": {
                                                      "anaerobicLagoon": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to anaerobic lagoon"
                                                      },
                                                      "sumpDispersal": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to sump dispersal"
                                                      },
                                                      "drainToPaddock": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to drain to paddock"
                                                      },
                                                      "solidStorage": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to solid storage"
                                                      }
                                                    },
                                                    "required": [
                                                      "anaerobicLagoon",
                                                      "sumpDispersal",
                                                      "drainToPaddock",
                                                      "solidStorage"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  "feedPadMMSAllocation": {
                                                    "type": "object",
                                                    "properties": {
                                                      "anaerobicLagoon": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to anaerobic lagoon"
                                                      },
                                                      "sumpDispersal": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to sump dispersal"
                                                      },
                                                      "drainToPaddock": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to drain to paddock"
                                                      },
                                                      "solidStorage": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 1,
                                                        "description": "Fraction of manure allocated to solid storage"
                                                      }
                                                    },
                                                    "required": [
                                                      "anaerobicLagoon",
                                                      "sumpDispersal",
                                                      "drainToPaddock",
                                                      "solidStorage"
                                                    ],
                                                    "additionalProperties": false
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "fractionAppliedToSoils",
                                                  "system",
                                                  "classes",
                                                  "milkProduction",
                                                  "breed",
                                                  "milkingShedMMSAllocation",
                                                  "feedPadMMSAllocation"
                                                ],
                                                "additionalProperties": false
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "const": "feedlot"
                                                  },
                                                  "herds": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "lengthOfStayDays": {
                                                          "type": "number",
                                                          "minimum": 0,
                                                          "description": "Length of stay in days"
                                                        },
                                                        "dryMatterIntake": {
                                                          "description": "Dry matter intake in kg/head/day",
                                                          "type": "number",
                                                          "minimum": 0
                                                        },
                                                        "crudeProteinContent": {
                                                          "description": "Crude protein content in %",
                                                          "type": "number",
                                                          "minimum": 0
                                                        },
                                                        "numberOfCattle": {
[...]
