{
  "openapi": "3.1.0",
  "info": {
    "title": "AIA Calculator API",
    "version": "unknown",
    "description": "Emissions Calculators for various farming activities",
    "contact": {
      "name": "AIA",
      "url": "https://aginnovationaustralia.com.au/contact-us/",
      "email": "contact@aginnovationaustralia.com.au"
    },
    "license": {
      "name": "CC-BY-4.0",
      "identifier": "CC-BY-4.0"
    }
  },
  "servers": [
    {
      "url": "https://emissionscalculator-mtls.production.aiaapi.com/calculator/unknown",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "GAF",
      "description": "GAF spreadsheet-based calculator"
    }
  ],
  "paths": {
    "/aquaculture": {
      "post": {
        "summary": "Perform aquaculture calculation",
        "description": "Retrieve a simple JSON response",
        "operationId": "post-aquaculture",
        "deprecated": false,
        "tags": [
          "GAF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Input data required for the Aquaculture calculator",
                "type": "object",
                "properties": {
                  "enterprises": {
                    "type": "array",
                    "items": {
                      "description": "Input data required for a single Aquaculture enterprise",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Unique identifier for this Aquaculture activity",
                          "type": "string"
                        },
                        "state": {
                          "description": "What state the location is in. Note: Western Australia is split up into two regions, `wa_nw` is North-West Western Australia, `wa_sw` is South-West Western Australia",
                          "type": "string",
                          "enum": [
                            "nsw",
                            "vic",
                            "qld",
                            "sa",
                            "wa_nw",
                            "wa_sw",
                            "tas",
                            "nt",
                            "act"
                          ]
                        },
                        "productionSystem": {
                          "description": "Production system of the aquaculture enterprise",
                          "type": "string",
                          "enum": [
                            "Abalone Farming",
                            "Mussel Farming",
                            "Offshore Caged Aquaculture",
                            "Onland Fish Farming",
                            "Onshore Hatchery",
                            "Other",
                            "Oyster Farming",
                            "Pearl Farming",
                            "Prawn Farming",
                            "Seaweed and Macroalgae Farming"
                          ]
                        },
                        "totalHarvestKg": {
                          "description": "Total harvest in kg",
                          "type": "number",
                          "minimum": 0
                        },
                        "refrigerants": {
                          "description": "Refrigerant type",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "refrigerant": {
                                "description": "Refrigerant type",
                                "type": "string",
                                "enum": [
                                  "HFC-23",
                                  "HFC-32",
                                  "HFC-41",
                                  "HFC-43-10mee",
                                  "HFC-125",
                                  "HFC-134",
                                  "HFC-134a",
                                  "HFC-143",
                                  "HFC-143a",
                                  "HFC-152a",
                                  "HFC-227ea",
                                  "HFC-236fa",
                                  "HFC-245ca",
                                  "HFC-245fa",
                                  "HFC-365mfc",
                                  "R438A",
                                  "R448A",
                                  "R-22",
                                  "Ammonia (R-717)",
                                  "R-11",
                                  "R-12",
                                  "R-13",
                                  "R-23",
                                  "R-32",
                                  "R-113",
                                  "R-114",
                                  "R-115",
                                  "R-116",
                                  "R-123",
                                  "R-124",
                                  "R-125",
                                  "R-134a",
                                  "R-141b",
                                  "R-142b",
                                  "R-143a",
                                  "R-152a",
                                  "R-218",
                                  "R-227ea",
                                  "R-236fa",
                                  "R-245ca",
                                  "R-245fa",
                                  "R-C318",
                                  "R-401A",
                                  "R-401B",
                                  "R-401C",
                                  "R-402A",
                                  "R-402B",
                                  "R-403A",
                                  "R-403B",
                                  "R-404A",
                                  "R-405A",
                                  "R-406A",
                                  "R-407A",
                                  "R-407B",
                                  "R-407C",
                                  "R-407D",
                                  "R-407E",
                                  "R-408A",
                                  "R-409A",
                                  "R-409B",
                                  "R-410A",
                                  "R-411A",
                                  "R-411B",
                                  "R-412A",
                                  "R-413A",
                                  "R-414A",
                                  "R-414B",
                                  "R-415A",
                                  "R-415B",
                                  "R-416A",
                                  "R-417A",
                                  "R-418A",
                                  "R-419A",
                                  "R-420A",
                                  "R-421A",
                                  "R-421B",
                                  "R-422A",
                                  "R-422B",
                                  "R-422C",
                                  "R-422D",
                                  "R-423A",
                                  "R-424A",
                                  "R-425A",
                                  "R-426A",
                                  "R-427A",
                                  "R-428A",
                                  "R-500",
                                  "R-502",
                                  "R-503",
                                  "R-507A",
                                  "R-508A",
                                  "R-508B",
                                  "R-509A"
                                ]
                              },
                              "chargeSize": {
                                "description": "Amount of refrigerant contained in the appliance, in kg",
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "refrigerant",
                              "chargeSize"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "bait": {
                          "description": "Bait purchases",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "description": "Bait product type",
                                "type": "string",
                                "enum": [
                                  "Whole Sardines",
                                  "Low Animal Protein Formulated Feed",
                                  "High Animal Protein Formulated Feed",
                                  "Cereal Grain",
                                  "Squid",
                                  "Whole Fish"
                                ]
                              },
                              "purchasedTonnes": {
                                "description": "Purchased product in tonnes",
                                "type": "number",
                                "minimum": 0
                              },
                              "additionalIngredients": {
                                "description": "Additional ingredient fraction, from 0 to 1",
                                "type": "number",
                                "minimum": 0,
                                "maximum": 1
                              },
                              "emissionsIntensity": {
                                "description": "Emissions intensity of additional ingredients, in kg CO2e/kg bait (default 0)",
                                "default": 0,
                                "type": "number"
                              }
                            },
                            "required": [
                              "type",
                              "purchasedTonnes",
                              "additionalIngredients",
                              "emissionsIntensity"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "customBait": {
                          "description": "Custom bait purchases",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "purchasedTonnes": {
                                "description": "Purchased product in tonnes",
                                "type": "number",
                                "minimum": 0
                              },
                              "emissionsIntensity": {
                                "description": "Emissions intensity of product, in kg CO2e/kg bait",
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "purchasedTonnes",
                              "emissionsIntensity"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "inboundFreight": {
                          "description": "Services used to transport goods to the enterprise",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "description": "Type of freight used",
                                "type": "string",
                                "enum": [
                                  "Truck",
                                  "Rail",
                                  "Long haul flight",
                                  "Medium haul flight",
                                  "Small container ship",
                                  "Large container ship"
                                ]
                              },
                              "totalKmTonnes": {
                                "description": "Total distance of freight, in kilometre tonnes",
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "type",
                              "totalKmTonnes"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "outboundFreight": {
                          "description": "Services used to transport goods from the enterprise",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "description": "Type of freight used",
                                "type": "string",
                                "enum": [
                                  "Truck",
                                  "Rail",
                                  "Long haul flight",
                                  "Medium haul flight",
                                  "Small container ship",
                                  "Large container ship"
                                ]
                              },
                              "totalKmTonnes": {
                                "description": "Total distance of freight, in kilometre tonnes",
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "type",
                              "totalKmTonnes"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "totalCommercialFlightsKm": {
                          "description": "Total distance of commercial flights, in km (kilometers)",
                          "type": "number",
                          "minimum": 0
                        },
                        "electricityRenewable": {
                          "description": "Percent of total electricity usage that is drawn from renewable sources, between 0 and 1. Unused if `electricitySource` is `Renewable`",
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "electricityUse": {
                          "description": "Electricity use in KWh (kilowatt hours)",
                          "type": "number",
                          "minimum": 0
                        },
                        "electricitySource": {
                          "description": "Source of electricity",
                          "type": "string",
                          "enum": [
                            "State Grid",
                            "Renewable"
                          ]
                        },
                        "fuel": {
                          "description": "Fuels used in this enterprise",
                          "type": "object",
                          "properties": {
                            "transportFuel": {
                              "description": "A list of fuels used in transportation and vehicles",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "description": "Type of fuel",
                                    "type": "string",
                                    "enum": [
                                      "petrol",
                                      "diesel",
                                      "lpg",
                                      "ethanol",
                                      "biodiesel",
                                      "renewable diesel",
                                      "other biofuels",
                                      "lng",
                                      "fuel oil",
                                      "avgas",
                                      "jet a-1",
                                      "jet b"
                                    ]
                                  },
                                  "amountLitres": {
                                    "description": "Amount of fuel consumed (litres)",
                                    "type": "number",
                                    "minimum": 0
                                  }
                                },
                                "required": [
                                  "type",
                                  "amountLitres"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "stationaryFuel": {
                              "description": "A list of fuels used in stationary applications",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "description": "Type of fuel",
                                    "type": "string",
                                    "enum": [
                                      "petrol",
                                      "diesel",
                                      "lpg",
                                      "ethanol",
                                      "biodiesel",
                                      "renewable diesel",
                                      "other biofuels",
                                      "lng"
                                    ]
                                  },
                                  "amountLitres": {
                                    "description": "Amount of fuel consumed (litres)",
                                    "type": "number",
                                    "minimum": 0
                                  }
                                },
                                "required": [
                                  "type",
                                  "amountLitres"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "naturalGas": {
                              "description": "Amount of natural gas consumed in Mj (megajoules)",
                              "type": "number",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "transportFuel",
                            "stationaryFuel",
                            "naturalGas"
                          ],
                          "additionalProperties": false
                        },
                        "fluidWaste": {
                          "description": "Amount of fluid waste, in kL (kilolitres)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fluidWasteKl": {
                                "description": "Amount of fluid waste, in kL (kilolitres)",
                                "type": "number",
                                "minimum": 0
                              },
                              "fluidWasteTreatmentType": {
                                "description": "Type of fluid waste treatment",
                                "type": "string",
                                "enum": [
                                  "Managed Aerobic",
                                  "Unmanaged Aerobic",
                                  "Anaerobic Digester/Reactor",
                                  "Shallow Anaerobic Lagoon <2m",
                                  "Deep Anaerobic Lagoon >2m"
                                ]
                              },
                              "averageInletCOD": {
                                "description": "Average inlet COD (mg per litre)",
                                "type": "number",
                                "minimum": 0
                              },
                              "averageOutletCOD": {
                                "description": "Average outlet COD (mg per litre)",
                                "type": "number",
                                "minimum": 0
                              },
                              "flaredCombustedFraction": {
                                "description": "Fraction of waste flared or combusted, between 0 and 1",
                                "type": "number",
                                "minimum": 0,
                                "maximum": 1
                              }
                            },
                            "required": [
                              "fluidWasteKl",
                              "fluidWasteTreatmentType",
                              "averageInletCOD",
                              "averageOutletCOD",
                              "flaredCombustedFraction"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "solidWaste": {
                          "description": "Solid waste management",
                          "type": "object",
                          "properties": {
                            "sentOffsiteTonnes": {
                              "description": "Amount of solid waste sent offsite to landfill, in tonnes",
                              "type": "number"
                            },
                            "onsiteCompostingTonnes": {
                              "description": "Amount of solid waste composted on site, in tonnes",
                              "type": "number"
                            }
                          },
                          "required": [
                            "sentOffsiteTonnes",
                            "onsiteCompostingTonnes"
                          ],
                          "additionalProperties": false
                        },
                        "carbonOffsets": {
                          "description": "Carbon offsets purchased, in t CO2. Offsetting 2 t CO2 would be 2.0 (not -2.0)",
                          "type": "number",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "state",
                        "productionSystem",
                        "totalHarvestKg",
                        "refrigerants",
                        "bait",
                        "customBait",
                        "inboundFreight",
                        "outboundFreight",
                        "totalCommercialFlightsKm",
                        "electricityRenewable",
                        "electricityUse",
                        "electricitySource",
                        "fuel",
                        "fluidWaste",
                        "solidWaste"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "enterprises"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Executes a calculation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Emissions calculation output for the Aquaculture calculator",
                  "type": "object",
                  "properties": {
                    "scope1": {
                      "description": "Scope 1 greenhouse gas emissions are the emissions released to the atmosphere as a direct result of an activity, in tonnes-CO2e (tonnes of carbon dioxide equivalent)",
                      "type": "object",
                      "properties": {
                        "fuelCO2": {
                          "description": "CO2 emissions from fuel use, in tonnes-CO2e",
                          "type": "number"
                        },
                        "fuelCH4": {
                          "description": "CH4 emissions from fuel use, in tonnes-CO2e",
                          "type": "number"
                        },
                        "fuelN2O": {
                          "description": "N2O emissions from fuel use, in tonnes-CO2e",
                          "type": "number"
                        },
                        "hfcsRefrigerantLeakage": {
                          "description": "Emissions from refrigerant leakage, in tonnes-HFCs",
                          "type": "number"
                        },
                        "wasteWaterCO2": {
                          "description": "Emissions from wastewater, in tonnes-CO2e",
                          "type": "number"
                        },
                        "compostedSolidWasteCO2": {
                          "description": "Emissions from composted solid waste, in tonnes-CO2e",
                          "type": "number"
                        },
                        "totalCO2": {
                          "description": "Total CO2 scope 1 emissions, in tonnes-CO2e",
                          "type": "number"
                        },
                        "totalCH4": {
                          "description": "Total CH4 scope 1 emissions, in tonnes-CO2e",
                          "type": "number"
                        },
                        "totalN2O": {
                          "description": "Total N2O scope 1 emissions, in tonnes-CO2e",
                          "type": "number"
                        },
                        "totalHFCs": {
                          "description": "Total HFCs scope 1 emissions, in tonnes-CO2e",
                          "type": "number"
                        },
                        "total": {
                          "description": "Total scope 1 emissions, in tonnes-CO2e",
                          "type": "number"
                        }
                      },
                      "required": [
                        "fuelCO2",
                        "fuelCH4",
                        "fuelN2O",
                        "hfcsRefrigerantLeakage",
                        "wasteWaterCO2",
                        "compostedSolidWasteCO2",
                        "totalCO2",
                        "totalCH4",
                        "totalN2O",
                        "totalHFCs",
                        "total"
                      ],
                      "additionalProperties": false
                    },
                    "scope2": {
                      "description": "Scope 2 greenhouse gas emissions are the emissions released to the atmosphere from the indirect consumption of an energy commodity, in tonnes-CO2e (tonnes of carbon dioxide equivalent)",
                      "type": "object",
                      "properties": {
                        "electricity": {
                          "description": "Emissions from electricity, in tonnes-CO2e",
                          "type": "number"
                        },
                        "total": {
                          "description": "Total scope 2 emissions, in tonnes-CO2e",
                          "type": "number"
                        }
                      },
                      "required": [
                        "electricity",
                        "total"
                      ],
                      "additionalProperties": false
                    },
                    "scope3": {
                      "description": "Scope 3 emissions are indirect greenhouse gas emissions other than scope 2 emissions that are generated in the wider economy, in tonnes-CO2e (tonnes of carbon dioxide equivalent)",
                      "type": "object",
                      "properties": {
                        "purchasedBait": {
                          "description": "Emissions from purchased bait, in tonnes-CO2e",
                          "type": "number"
                        },
                        "electricity": {
                          "description": "Emissions from electricity, in tonnes-CO2e",
                          "type": "number"
                        },
                        "fuel": {
                          "description": "Emissions from fuel, in tonnes-CO2e",
                          "type": "number"
                        },
                        "commercialFlights": {
                          "description": "Emissions from commercial flights, in tonnes-CO2e",
                          "type": "number"
                        },
                        "inboundFreight": {
                          "description": "Emissions from inbound freight, in tonnes-CO2e",
                          "type": "number"
                        },
                        "outboundFreight": {
                          "description": "Emissions from outbound freight, in tonnes-CO2e",
                          "type": "number"
                        },
                        "solidWasteSentOffsite": {
                          "description": "Emissions from solid waste sent offsite, in tonnes-CO2e",
                          "type": "number"
                        },
                        "total": {
                          "description": "Total scope 3 emissions, in tonnes-CO2e",
                          "type": "number"
                        }
                      },
                      "required": [
                        "purchasedBait",
                        "electricity",
                        "fuel",
                        "commercialFlights",
                        "inboundFreight",
                        "outboundFreight",
                        "solidWasteSentOffsite",
                        "total"
                      ],
                      "additionalProperties": false
                    },
                    "purchasedOffsets": {
                      "description": "Purchased offsets, in tonnes-CO2e",
                      "type": "object",
                      "properties": {
                        "total": {
                          "description": "Annual amount of carbon sequestered, in tonnes-CO2e",
                          "type": "number"
                        }
                      },
                      "required": [
                        "total"
                      ],
                      "additionalProperties": false
                    },
                    "net": {
                      "description": "Net emissions for the activity",
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "total"
                      ],
                      "additionalProperties": false
                    },
                    "intensities": {
                      "type": "object",
                      "properties": {
                        "totalHarvestWeightKg": {
                          "description": "Total harvest weight in kg",
                          "type": "number"
                        },
                        "aquacultureExcludingCarbonOffsets": {
                          "description": "Aquaculture emissions intensity excluding sequestration, in kg-CO2e/kg",
                          "type": "number"
                        },
                        "aquacultureIncludingCarbonOffsets": {
                          "description": "Aquaculture emissions intensity including sequestration, in kg-CO2e/kg",
                          "type": "number"
                        }
                      },
                      "required": [
                        "totalHarvestWeightKg",
                        "aquacultureExcludingCarbonOffsets",
                        "aquacultureIncludingCarbonOffsets"
                      ],
                      "additionalProperties": false
                    },
                    "carbonSequestration": {
                      "description": "Carbon sequestration, in tonnes-CO2e",
                      "type": "object",
                      "properties": {
                        "total": {
                          "description": "Annual amount of carbon sequestered, in tonnes-CO2e",
                          "type": "number"
                        }
                      },
                      "required": [
                        "total"
                      ],
                      "additionalProperties": false
                    },
                    "intermediate": {
                      "type": "array",
                      "items": {
                        "description": "Intermediate emissions calculation output for the Aquaculture calculator",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique identifier for this Aquaculture activity",
                            "type": "string"
                          },
                          "scope1": {
                            "description": "Scope 1 greenhouse gas emissions are the emissions released to the atmosphere as a direct result of an activity, in tonnes-CO2e (tonnes of carbon dioxide equivalent)",
                            "type": "object",
                            "properties": {
                              "fuelCO2": {
                                "description": "CO2 emissions from fuel use, in tonnes-CO2e",
                                "type": "number"
                              },
                              "fuelCH4": {
                                "description": "CH4 emissions from fuel use, in tonnes-CO2e",
                                "type": "number"
                              },
                              "fuelN2O": {
                                "description": "N2O emissions from fuel use, in tonnes-CO2e",
                                "type": "number"
                              },
                              "hfcsRefrigerantLeakage": {
                                "description": "Emissions from refrigerant leakage, in tonnes-HFCs",
                                "type": "number"
                              },
                              "wasteWaterCO2": {
                                "description": "Emissions from wastewater, in tonnes-CO2e",
                                "type": "number"
                              },
                              "compostedSolidWasteCO2": {
                                "description": "Emissions from composted solid waste, in tonnes-CO2e",
                                "type": "number"
                              },
                              "totalCO2": {
                                "description": "Total CO2 scope 1 emissions, in tonnes-CO2e",
                                "type": "number"
                              },
                              "totalCH4": {
                                "description": "Total CH4 scope 1 emissions, in tonnes-CO2e",
                                "type": "number"
                              },
                              "totalN2O": {
                                "description": "Total N2O scope 1 emissions, in tonnes-CO2e",
                                "type": "number"
                              },
                              "totalHFCs": {
                                "description": "Total HFCs scope 1 emissions, in tonnes-CO2e",
                                "type": "number"
                              },
                              "total": {
                                "description": "Total scope 1 emissions, in tonnes-CO2e",
                                "type": "number"
                              }
                            },
                            "required": [
                              "fuelCO2",
                              "fuelCH4",
                              "fuelN2O",
                              "hfcsRefrigerantLeakage",
                              "wasteWaterCO2",
                              "compostedSolidWasteCO2",
                              "totalCO2",
                              "totalCH4",
                              "totalN2O",
                              "totalHFCs",
                              "total"
                            ],
                            "additionalProperties": false
                          },
                          "scope2": {
                            "description": "Scope 2 greenhouse gas emissions are the emissions released to the atmosphere from the indirect consumption of an energy commodity, in tonnes-CO2e (tonnes of carbon dioxide equivalent)",
                            "type": "object",
                            "properties": {
                              "electricity": {
                                "description": "Emissions from electricity, in tonnes-CO2e",
                                "type": "number"
                              },
                              "total": {
                                "description": "Total scope 2 emissions, in tonnes-CO2e",
                                "type": "number"
                              }
                            },
                            "required": [
                              "electricity",
                              "total"
                            ],
                            "additionalProperties": false
                          },
                          "scope3": {
                            "description": "Scope 3 emissions are indirect greenhouse gas emissions other than scope 2 emissions that are generated in the wider economy, in tonnes-CO2e (tonnes of carbon dioxide equivalent)",
                            "type": "object",
                            "properties": {
                              "purchasedBait": {
                                "description": "Emissions from purchased bait, in tonnes-CO2e",
                                "type": "number"
                              },
                              "electricity": {
                                "description": "Emissions from electricity, in tonnes-CO2e",
                                "type": "number"
                              },
                              "fuel": {
                                "description": "Emissions from fuel, in tonnes-CO2e",
                                "type": "number"
                              },
                              "commercialFlights": {
                                "description": "Emissions from commercial flights, in tonnes-CO2e",
                                "type": "number"
                              },
                              "inboundFreight": {
                                "description": "Emissions from inbound freight, in tonnes-CO2e",
                                "type": "number"
                              },
                              "outboundFreight": {
                                "description": "Emissions from outbound freight, in tonnes-CO2e",
                                "type": "number"
                              },
                              "solidWasteSentOffsite": {
                                "description": "Emissions from solid waste sent offsite, in tonnes-CO2e",
                                "type": "number"
                              },
                              "total": {
                                "description": "Total scope 3 emissions, in tonnes-CO2e",
                                "type": "number"
                              }
                            },
                            "required": [
                              "purchasedBait",
                              "electricity",
                              "fuel",
                              "commercialFlights",
                              "inboundFreight",
                              "outboundFreight",
                              "solidWasteSentOffsite",
                              "total"
                            ],
                            "additionalProperties": false
                          },
                          "intensities": {
                            "type": "object",
                            "properties": {
                              "totalHarvestWeightKg": {
                                "description": "Total harvest weight in kg",
                                "type": "number"
                              },
                              "aquacultureExcludingCarbonOffsets": {
                                "description": "Aquaculture emissions intensity excluding sequestration, in kg-CO2e/kg",
                                "type": "number"
                              },
                              "aquacultureIncludingCarbonOffsets": {
                                "description": "Aquaculture emissions intensity including sequestration, in kg-CO2e/kg",
                                "type": "number"
                              }
                            },
                            "required": [
                              "totalHarvestWeightKg",
                              "aquacultureExcludingCarbonOffsets",
                              "aquacultureIncludingCarbonOffsets"
                            ],
                            "additionalProperties": false
                          },
                          "net": {
                            "description": "Net emissions for the activity",
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "total"
                            ],
                            "additionalProperties": false
                          },
                          "carbonSequestration": {
                            "description": "Carbon sequestration, in tonnes-CO2e",
                            "type": "object",
                            "properties": {
                              "total": {
                                "description": "Annual amount of carbon sequestered, in tonnes-CO2e",
                                "type": "number"
                              }
                            },
                            "required": [
                              "total"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "scope1",
                          "scope2",
                          "scope3",
                          "intensities",
                          "net",
                          "carbonSequestration"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "scope1",
                    "scope2",
                    "scope3",
                    "purchasedOffsets",
                    "net",
                    "intensities",
                    "carbonSequestration",
                    "intermediate"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/beef": {
      "post": {
        "summary": "Perform beef calculation",
        "description": "Retrieve a simple JSON response",
        "operationId": "post-beef",
        "deprecated": false,
        "tags": [
          "GAF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Input data required for the Beef calculator",
                "type": "object",
                "properties": {
                  "state": {
                    "description": "What state the location is in. Note: Western Australia is split up into two regions, `wa_nw` is North-West Western Australia, `wa_sw` is South-West Western Australia",
                    "type": "string",
                    "enum": [
                      "nsw",
                      "vic",
                      "qld",
                      "sa",
                      "wa_nw",
                      "wa_sw",
                      "tas",
                      "nt",
                      "act"
                    ]
                  },
                  "northOfTropicOfCapricorn": {
                    "description": "Is this farm north of the Tropic of Capricorn. Note: this is currently approximately -23.43621 degrees latitude",
                    "type": "boolean"
                  },
                  "rainfallAbove600": {
                    "description": "Is there enough rainfall to drain through the soil profile. Note: this is typically above 600mm",
                    "type": "boolean"
                  },
                  "beef": {
                    "type": "array",
                    "items": {
                      "description": "Input data required for a single Beef enterprise",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Unique identifier for this Beef activity",
                          "type": "string"
                        },
                        "classes": {
                          "description": "Beef classes of different types and age ranges",
                          "type": "object",
                          "properties": {
                            "bullsGt1": {
                              "description": "Bulls whose age is greater than 1 year old",
                              "type": "object",
                              "properties": {
                                "autumn": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "winter": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "spring": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "summer": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "headSold": {
                                  "description": "Number of animals sold (head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "saleWeight": {
                                  "description": "Weight at sale, in liveweight kg/head (kilogram per head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "purchases": {
                                  "type": "array",
                                  "items": {
                                    "description": "Beef purchase",
                                    "type": "object",
                                    "properties": {
                                      "head": {
                                        "description": "Number of animals purchased (head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseWeight": {
                                        "description": "Weight at purchase, in liveweight kg/head (kilogram per head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseSource": {
                                        "description": "Source location of livestock purchase",
                                        "type": "string",
                                        "enum": [
                                          "Dairy origin",
                                          "nth/sth/central QLD",
                                          "nth/sth NSW/VIC/sth SA",
                                          "NSW/SA pastoral zone",
                                          "sw WA",
                                          "WA pastoral",
                                          "TAS",
                                          "NT"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "head",
                                      "purchaseWeight",
                                      "purchaseSource"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "autumn",
                                "winter",
                                "spring",
                                "summer",
                                "headSold",
                                "saleWeight"
                              ],
                              "additionalProperties": false
                            },
                            "bullsGt1Traded": {
                              "description": "Traded bulls whose age is greater than 1 year old",
                              "type": "object",
                              "properties": {
                                "autumn": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "winter": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "spring": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "summer": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "headSold": {
                                  "description": "Number of animals sold (head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "saleWeight": {
                                  "description": "Weight at sale, in liveweight kg/head (kilogram per head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "purchases": {
                                  "type": "array",
                                  "items": {
                                    "description": "Beef purchase",
                                    "type": "object",
                                    "properties": {
                                      "head": {
                                        "description": "Number of animals purchased (head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseWeight": {
                                        "description": "Weight at purchase, in liveweight kg/head (kilogram per head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseSource": {
                                        "description": "Source location of livestock purchase",
                                        "type": "string",
                                        "enum": [
                                          "Dairy origin",
                                          "nth/sth/central QLD",
                                          "nth/sth NSW/VIC/sth SA",
                                          "NSW/SA pastoral zone",
                                          "sw WA",
                                          "WA pastoral",
                                          "TAS",
                                          "NT"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "head",
                                      "purchaseWeight",
                                      "purchaseSource"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "autumn",
                                "winter",
                                "spring",
                                "summer",
                                "headSold",
                                "saleWeight"
                              ],
                              "additionalProperties": false
                            },
                            "steersLt1": {
                              "description": "Steers whose age is less than 1 year old",
                              "type": "object",
                              "properties": {
                                "autumn": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "winter": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "spring": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "summer": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "headSold": {
                                  "description": "Number of animals sold (head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "saleWeight": {
                                  "description": "Weight at sale, in liveweight kg/head (kilogram per head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "purchases": {
                                  "type": "array",
                                  "items": {
                                    "description": "Beef purchase",
                                    "type": "object",
                                    "properties": {
                                      "head": {
                                        "description": "Number of animals purchased (head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseWeight": {
                                        "description": "Weight at purchase, in liveweight kg/head (kilogram per head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseSource": {
                                        "description": "Source location of livestock purchase",
                                        "type": "string",
                                        "enum": [
                                          "Dairy origin",
                                          "nth/sth/central QLD",
                                          "nth/sth NSW/VIC/sth SA",
                                          "NSW/SA pastoral zone",
                                          "sw WA",
                                          "WA pastoral",
                                          "TAS",
                                          "NT"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "head",
                                      "purchaseWeight",
                                      "purchaseSource"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "autumn",
                                "winter",
                                "spring",
                                "summer",
                                "headSold",
                                "saleWeight"
                              ],
                              "additionalProperties": false
                            },
                            "steersLt1Traded": {
                              "description": "Traded steers whose age is less than 1 year old",
                              "type": "object",
                              "properties": {
                                "autumn": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "winter": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "spring": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "summer": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "headSold": {
                                  "description": "Number of animals sold (head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "saleWeight": {
                                  "description": "Weight at sale, in liveweight kg/head (kilogram per head)",
                                  "type": "number",
                                  "minimum": 0
                                },
                                "purchases": {
                                  "type": "array",
                                  "items": {
                                    "description": "Beef purchase",
                                    "type": "object",
                                    "properties": {
                                      "head": {
                                        "description": "Number of animals purchased (head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseWeight": {
                                        "description": "Weight at purchase, in liveweight kg/head (kilogram per head)",
                                        "type": "number",
                                        "minimum": 0
                                      },
                                      "purchaseSource": {
                                        "description": "Source location of livestock purchase",
                                        "type": "string",
                                        "enum": [
                                          "Dairy origin",
                                          "nth/sth/central QLD",
                                          "nth/sth NSW/VIC/sth SA",
                                          "NSW/SA pastoral zone",
                                          "sw WA",
                                          "WA pastoral",
                                          "TAS",
                                          "NT"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "head",
                                      "purchaseWeight",
                                      "purchaseSource"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "autumn",
                                "winter",
                                "spring",
                                "summer",
                                "headSold",
                                "saleWeight"
                              ],
                              "additionalProperties": false
                            },
                            "steers1To2": {
                              "description": "Steers whose age is between 1 and 2 years old",
                              "type": "object",
                              "properties": {
                                "autumn": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "winter": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweight": {
                                      "description": "Average liveweight of animals in kg/head (kilogram per head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
                                    "liveweightGain": {
                                      "description": "Average liveweight gain in kg/day (kilogram per day)",
                                      "type": "number"
                                    },
                                    "crudeProtein": {
                                      "description": "Crude protein percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    },
                                    "dryMatterDigestibility": {
                                      "description": "Dry matter digestibility percent, between 0 and 100",
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 100
                                    }
                                  },
                                  "required": [
                                    "head",
                                    "liveweight",
                                    "liveweightGain"
                                  ],
                                  "additionalProperties": false
                                },
                                "spring": {
                                  "type": "object",
                                  "properties": {
                                    "head": {
                                      "description": "Number of animals (head)",
                                      "type": "number",
                                      "minimum": 0
                                    },
[...]
