name: Pull Request CI

on:
  push:
    branches:
      - '**'
      - '!main'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build and Test
        uses: ./.github/actions/build-and-test

  code-scans:
    permissions:
      security-events: write
      actions: read
      contents: read
    runs-on: ubuntu-latest
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Snyk scan
        uses: ./.github/actions/snyk
