name: Publish Package

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
        shell: bash

      - name: Build
        run: pnpm run build
        shell: bash

      - name: Latest npm
        run: npm install -g npm@latest
        shell: bash

      - name: Publish
        run: npm publish
        working-directory: packages/calculators
        shell: bash
